.conda/
.DS_Store
.idea/
.vscode/
.gitignore
conf/
__pycache__/
.idea/
logger/__pycache__/
ai/__pycache__/
client/__pycache__/
database/__pycache__/
doc/
log/
*.yaml
*.key
*.secret
*.pyc
*.DS_Store
*.gitignore
*.env
data/
/config
/link_logs
*.bak*
*.log
link_logs/
/test_source
.git-credentials
*.token
.vscode-upload.json
*.m4a
*.mp3
*.mp4
*.avi
*.mkv
*.mov
*.flv
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.lzo
*.tar.lzop
*.tar.lz4
*.tar.zst
*.wav
openai/.env
stt/.env
voiceprint recognition/wavlm/wavlm.ipynb
.env.env
